{# @var token \Sungazer\Bundle\UserBundle\Entity\PhoneVerificationToken #}
{# @var resetUrl string #}
Use this code to reset your password: {{ token.token }}

{% if resetUrl is defined and resetUrl is not null %}
    Alternatively, click here: {{ resetUrl }}
{% endif %}