{# @var token \Sungazer\Bundle\UserBundle\Entity\PhoneVerificationToken #}
{# @var verifyUrl string #}
Welcome! Use this token to verify your phone: {{ token.token }}

{% if verifyUrl is defined and verifyUrl is not null %}
    Alternatively, click here: {{ verifyUrl }}
{% endif %}