{# @var user \Sungazer\Bundle\UserBundle\Model\MultiLoginUserInterface #}
{# @var token \Sungazer\Bundle\UserBundle\Entity\LoginToken #}


{% block subject %}Login token{% endblock %}

{% block body_html %}
    <h1>Welcome!</h1>

    <p>
        Use this token to login: <b>{{ token.token }}</b>
    </p>
{% endblock %}