{# @var token \Sungazer\Bundle\UserBundle\Entity\PasswordResetToken #}
{# @var resetUrl string #}

{% block subject %}Password reset{% endblock %}
{% block body_html %}
    <p>
        Somebody requested a reset of your password.
    </p>

    <p>
        This is your verification token: {{ token.token }}
    </p>

    <p>
        Use it to reset your password.
    </p>

    {% if resetUrl is defined and resetUrl is not null %}
        <p>
            Alternatively, click here: <a href="{{ resetUrl }}" target="_blank">{{ resetUrl }}</a>
        </p>
    {% endif %}

    <p>
        Thanks!
    </p>
{% endblock %}