{# @var token \Sungazer\Bundle\UserBundle\Entity\EmailVerificationToken #}
{# @var verifyUrl string #}

{% block subject %}Welcome!{% endblock %}

{% block body_html %}
    <p>
        Thanks for signing up!
    </p>

    <p>This is your verification code: {{ token.token }}</p>

    <p>Use it to verify your email address!</p>

    {% if verifyUrl is defined and verifyUrl is not null %}
        <p>
            Alternatively, click here: <a href="{{ verifyUrl }}" target="_blank">{{ verifyUrl }}</a>
        </p>
    {% endif %}

    <p>
        Thanks!
    </p>
{% endblock %}